.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: inherit;
    text-decoration: inherit;
}

.noSelect:focus {
    outline: none !important;
}

/* From https://github.com/sindresorhus/github-markdown-css */
.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px 0;

    /* Change the background color to nothing */
    --bgColor-default: none;
    background-color: transparent;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px 0;
    }
}
